################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/src/.vs/CircleDet
/src/CircleDet/x64
/src/x64
/LibCircleDetection/x64/Release
