################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/src/.vs/CircleDet
/src/CircleDet/x64
/src/x64
/LibCircleDetection/x64/Release
/.vs/CircleDet
/CircleDet/.vs/CircleDet
/CircleDet/CircleDet/x64/Release
/CircleDet/x64
/LibCircleDetection/x64/Debug
/x64
/install
/InstallCircleDetection/x64
